<div class="grid pt-2 pr-2">
    <div class="cell is-col-span-4">
        <div class="box">
            <p class="is-size-4 mb-2"><i class="fas fa-chart-bar ptk-color-text"></i> Dashboard | Administrador</p>
            <p>
                ¡Hola  En este apartado, te presentamos un resumen detallado de tus datos de stock
                y crédito. Revisa tus datos a continuación para asegurarte de que estén actualizados y completos.
            </p>
        </div>
    </div>
    <div class="cell is-col-span-2">
        <div class="card">
            <header class="card-header has-background-black">
                <p class="card-header-title has-text-white"><i class="fas fa-users"></i>&nbsp;Distribuidores
                </p>
            </header>
            <div class="card-content">
                <div class="grid">
                    <div class="cell">
                        <p class="has-text-grey"><i class="fa fa-info-circle" aria-hidden="true"></i> Resumen de distribuidores.</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="cell">
                        <div class="card animate__animated animate__flipInY">
                            <header class="card-header ptk-color">
                                <p class="card-header-title has-text-white"><i class="fa fa-circle"
                                        aria-hidden="true"></i>&nbsp;Distidores totales</p>
                            </header>
                            <div class="card-content ptk-color has-text-white">
                                <p class="is-size-4 has-text-centered">
                                    <i class="fab fa-slack-hash"></i> 25
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid has-text-centered">
                    <div class="cell">
                        <button class="button is-small is-fullwidth">Ver mas detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- credit info -->
    <div class="cell is-col-span-2">
        <div class="card">
            <header class="card-header has-background-black">
                <p class="card-header-title has-text-white"><i class="fas fa-money-check"></i>&nbsp;Credito
                </p>
            </header>
            <div class="card-content">
                <div class="grid">
                    <div class="cell">
                        <p class="has-text-grey"><i class="fa fa-info-circle" aria-hidden="true"></i> Resumen de distribuidores con credito.</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="cell">
                        <div class="card animate__animated animate__flipInY">
                            <header class="card-header ptk-background-danger">
                                <p class="card-header-title has-text-white"><i class="fa fa-circle"
                                        aria-hidden="true"></i>&nbsp;Bloqueados</p>
                            </header>
                            <div class="card-content ptk-background-danger has-text-white">
                                <p class="is-size-4 has-text-centered">
                                    <i class="fas fa-user-times"></i> 3
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card animate__animated animate__flipInY">
                            <header class="card-header ptk-background-info">
                                <p class="card-header-title has-text-white"><i class="fa fa-circle"></i>&nbsp;Activos</p>
                            </header>
                            <div class="card-content ptk-background-info has-text-white">
                                <p class="is-size-4 has-text-centered">
                                    <i class="fas fa-user-check"></i> 22
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid has-text-centered">
                    <div class="cell">
                        <button class="button is-small is-fullwidth">Ver mas detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- dev -->
    <div class="cell is-col-span-2">
        <div class="card">
            <header class="card-header has-background-black">
                <p class="card-header-title has-text-white"><i class="fa fa-code" aria-hidden="true"></i>&nbsp; Modulo
                    en desarrollo</p>
            </header>
            <div class="card-content has-text-centered">
                <img src="img/desarrollo-web.png" alt="Sitio en desarrollo" width="70%">
            </div>
        </div>
    </div>
    <div class="cell is-col-span-2">
        <div class="card">
            <header class="card-header has-background-black">
                <p class="card-header-title has-text-white"><i class="fa fa-code" aria-hidden="true"></i>&nbsp; Modulo
                    en desarrollo</p>
            </header>
            <div class="card-content has-text-centered">
                <img src="img/desarrollo-web.png" alt="Sitio en desarrollo" width="70%">
            </div>
        </div>
    </div>
    <br />
    <br />
</div>